html {
    font-size: 23px
}
body {
    background-color: rgb(0, 0, 0);
    color:rgb(43, 185, 143);
}

a {
    color: aliceblue;
}
a:visited {
      color: grey;     
}
a:hover,a:active {
    color: #eee;
}